#footer {
    padding-left: 20px;
}

#chimages {
    padding: 5px;
}

#rcorners4 {
    border-radius: 10px;
    background: #73AD21;
    padding: 10px;
    width: 380px;
    height: 380px;

}

.ftabledata {
    outline-style: dashed;
    outline-color: #e118bd;
    padding: 10px;
    border-radius: 10px;
    background: #73AD21;
    padding: 10px;
    width: 380px;
    height: 380px;
    align-content: center;
}

.ftabledata1 {
    outline-style: dashed;
    outline-color: #e118bd;
    padding: 10px;
    border-radius: 10px;
    background: #73AD21;
    padding: 10px;
    align-content: center;
}